* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F8EED5;
    font-family: "Roboto", sans-serif;
}

/* .hero * {
    border: 1px solid red;
} */

.hero img {
    max-width: 25%;
}

.hero .content {
    max-width: max-content;
    margin: 0 auto;
    text-align: center;
}

.hero {
    background-image: url("media/landscape-placeholder.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 64px;
}

header * {
    /* border: 1px solid red; */
    /* margin: 0 auto; */
}

nav {
    /* border: 5px solid purple; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2.5%;
}

nav img {
    /* border: 5px solid red; */
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

nav menu {
    display: flex;
    list-style-type: none;
    gap: 16px;
    /* border: 3px solid orange; */
    padding: 0;
    flex-wrap: wrap;
}

nav menu li {
    padding: 16px;
}

nav .image {
    /* border: 5px solid blue; */
    max-width: 50%;
    padding: 16px 0;
}

/* Body Content */

.home {
    border: 1px solid red;
}

.main {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.main .image {
    border: 3px solid orange;
    height: 270px;
    width: 480px;
    background-color: gray;
}

.main .text {
    border: 5px solid;
    width: 50%;
}